scala/project/metals.sbt
scala/.bloop/bloop.settings.json
scala/.bloop/scala-test.json
scala/.bloop/scala.json
scala/.metals/metals.lock.db
scala/.metals/metals.log
scala/.metals/metals.mv.db
scala/.vscode/settings.json
scala/project/build.properties
scala/project/.bloop/bloop.settings.json
scala/project/.bloop/scala-build.json
scala/project/project/metals.sbt
scala/project/project/project/target/config-classes/$2ddebad18a1252f69d9c.cache
scala/project/project/project/target/config-classes/$2ddebad18a1252f69d9c.class
scala/project/project/project/target/config-classes/$2ddebad18a1252f69d9c$.class
scala/project/project/target/config-classes/$5bcf9b8c04da4064fafe.cache
scala/project/project/target/config-classes/$5bcf9b8c04da4064fafe.class
scala/project/project/target/config-classes/$5bcf9b8c04da4064fafe$.class
scala/project/project/target/scala-2.12/sbt-1.0/sync/copy-resource
scala/project/project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/inputs
scala/project/project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/output
scala/project/project/target/streams/_global/_global/_global/streams/out
scala/project/project/target/streams/_global/_global/csrLogger/_global/streams/out
scala/project/project/target/streams/_global/csrConfiguration/_global/streams/out
scala/project/project/target/streams/_global/csrProject/_global/streams/out
scala/project/project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/input_dsp
scala/project/project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/output_dsp
scala/project/project/target/streams/_global/ivyConfiguration/_global/streams/out
scala/project/project/target/streams/_global/ivySbt/_global/streams/out
scala/project/project/target/streams/_global/moduleSettings/_global/streams/out
scala/project/project/target/streams/_global/projectDescriptors/_global/streams/out
scala/project/project/target/streams/_global/scalaCompilerBridgeScope/_global/streams/out
scala/project/project/target/streams/_global/update/_global/streams/out
scala/project/project/target/streams/compile/_global/_global/compileOutputs/previous
scala/project/project/target/streams/compile/_global/_global/discoveredMainClasses/data
scala/project/project/target/streams/compile/bspReporter/_global/streams/out
scala/project/project/target/streams/compile/compile/_global/streams/out
scala/project/project/target/streams/compile/compileIncremental/_global/streams/export
scala/project/project/target/streams/compile/compileIncremental/_global/streams/out
scala/project/project/target/streams/compile/copyResources/_global/streams/out
scala/project/project/target/streams/compile/dependencyClasspath/_global/streams/export
scala/project/project/target/streams/compile/exportedProducts/_global/streams/export
scala/project/project/target/streams/compile/externalDependencyClasspath/_global/streams/export
scala/project/project/target/streams/compile/incOptions/_global/streams/out
scala/project/project/target/streams/compile/internalDependencyClasspath/_global/streams/export
scala/project/project/target/streams/compile/internalDependencyClasspath/_global/streams/out
scala/project/project/target/streams/compile/managedClasspath/_global/streams/export
scala/project/project/target/streams/compile/scalacOptions/_global/streams/out
scala/project/project/target/streams/compile/unmanagedClasspath/_global/streams/export
scala/project/project/target/streams/compile/unmanagedClasspath/_global/streams/out
scala/project/project/target/streams/compile/unmanagedJars/_global/streams/export
scala/project/project/target/streams/runtime/dependencyClasspath/_global/streams/export
scala/project/project/target/streams/runtime/exportedProducts/_global/streams/export
scala/project/project/target/streams/runtime/externalDependencyClasspath/_global/streams/export
scala/project/project/target/streams/runtime/fullClasspath/_global/streams/export
scala/project/project/target/streams/runtime/internalDependencyClasspath/_global/streams/export
scala/project/project/target/streams/runtime/internalDependencyClasspath/_global/streams/out
scala/project/project/target/streams/runtime/managedClasspath/_global/streams/export
scala/project/project/target/streams/runtime/unmanagedClasspath/_global/streams/export
scala/project/project/target/streams/runtime/unmanagedClasspath/_global/streams/out
scala/project/project/target/streams/runtime/unmanagedJars/_global/streams/export
scala/project/target/config-classes/$5ff4e5e6fafe90936d73.cache
scala/project/target/config-classes/$5ff4e5e6fafe90936d73.class
scala/project/target/config-classes/$5ff4e5e6fafe90936d73$.class
scala/project/target/config-classes/$29c59566cc6de913adda.cache
scala/project/target/config-classes/$29c59566cc6de913adda.class
scala/project/target/config-classes/$29c59566cc6de913adda$.class
scala/project/target/config-classes/$c73937dceff129ee8aa7.cache
scala/project/target/config-classes/$c73937dceff129ee8aa7.class
scala/project/target/config-classes/$c73937dceff129ee8aa7$.class
scala/project/target/config-classes/$e9229b9dcf704a04f81e.cache
scala/project/target/config-classes/$e9229b9dcf704a04f81e.class
scala/project/target/config-classes/$e9229b9dcf704a04f81e$.class
scala/project/target/scala-2.12/sbt-1.0/sync/copy-resource
scala/project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/inputs
scala/project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/output
scala/project/target/streams/_global/_global/_global/streams/out
scala/project/target/streams/_global/_global/csrLogger/_global/streams/out
scala/project/target/streams/_global/csrConfiguration/_global/streams/out
scala/project/target/streams/_global/csrProject/_global/streams/out
scala/project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/input_dsp
scala/project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/output_dsp
scala/project/target/streams/_global/ivyConfiguration/_global/streams/out
scala/project/target/streams/_global/ivySbt/_global/streams/out
scala/project/target/streams/_global/moduleSettings/_global/streams/out
scala/project/target/streams/_global/projectDescriptors/_global/streams/out
scala/project/target/streams/_global/scalaCompilerBridgeScope/_global/streams/out
scala/project/target/streams/_global/update/_global/streams/out
scala/project/target/streams/_global/updateClassifiers/_global/streams/out
scala/project/target/streams/_global/updateClassifiers/_global/streams/update_cache_2.12/inputs
scala/project/target/streams/_global/updateClassifiers/_global/streams/update_cache_2.12/output
scala/project/target/streams/_global/updateSbtClassifiers/_global/streams/out
scala/project/target/streams/compile/_global/_global/compileOutputs/previous
scala/project/target/streams/compile/_global/_global/discoveredMainClasses/data
scala/project/target/streams/compile/bloopGenerate/_global/streams/out
scala/project/target/streams/compile/bloopPostGenerate/_global/streams/out
scala/project/target/streams/compile/bspReporter/_global/streams/out
scala/project/target/streams/compile/compile/_global/streams/out
scala/project/target/streams/compile/compileIncremental/_global/streams/export
scala/project/target/streams/compile/compileIncremental/_global/streams/out
scala/project/target/streams/compile/copyResources/_global/streams/out
scala/project/target/streams/compile/dependencyClasspath/_global/streams/export
scala/project/target/streams/compile/exportedProducts/_global/streams/export
scala/project/target/streams/compile/externalDependencyClasspath/_global/streams/export
scala/project/target/streams/compile/incOptions/_global/streams/out
scala/project/target/streams/compile/internalDependencyClasspath/_global/streams/export
scala/project/target/streams/compile/internalDependencyClasspath/_global/streams/out
scala/project/target/streams/compile/managedClasspath/_global/streams/export
scala/project/target/streams/compile/scalacOptions/_global/streams/out
scala/project/target/streams/compile/unmanagedClasspath/_global/streams/export
scala/project/target/streams/compile/unmanagedClasspath/_global/streams/out
scala/project/target/streams/compile/unmanagedJars/_global/streams/export
scala/project/target/streams/it/bloopGenerate/_global/streams/out
scala/project/target/streams/it/bloopPostGenerate/_global/streams/out
scala/project/target/streams/runtime/dependencyClasspath/_global/streams/export
scala/project/target/streams/runtime/exportedProducts/_global/streams/export
scala/project/target/streams/runtime/externalDependencyClasspath/_global/streams/export
scala/project/target/streams/runtime/fullClasspath/_global/streams/export
scala/project/target/streams/runtime/internalDependencyClasspath/_global/streams/export
scala/project/target/streams/runtime/internalDependencyClasspath/_global/streams/out
scala/project/target/streams/runtime/managedClasspath/_global/streams/export
scala/project/target/streams/runtime/unmanagedClasspath/_global/streams/export
scala/project/target/streams/runtime/unmanagedClasspath/_global/streams/out
scala/project/target/streams/runtime/unmanagedJars/_global/streams/export
scala/project/target/streams/test/bloopGenerate/_global/streams/out
scala/project/target/streams/test/bloopPostGenerate/_global/streams/out
scala/target/scala-3.0.2/update/update_cache_3/inputs
scala/target/scala-3.0.2/update/update_cache_3/output
scala/target/scala-3.2.2/update/update_cache_3/inputs
scala/target/scala-3.2.2/update/update_cache_3/output
scala/target/streams/_global/_global/csrLogger/_global/streams/out
scala/target/streams/_global/csrConfiguration/_global/streams/out
scala/target/streams/_global/csrProject/_global/streams/out
scala/target/streams/_global/dependencyPositions/_global/streams/update_cache_3/input_dsp
scala/target/streams/_global/dependencyPositions/_global/streams/update_cache_3/output_dsp
scala/target/streams/_global/ivyConfiguration/_global/streams/out
scala/target/streams/_global/ivySbt/_global/streams/out
scala/target/streams/_global/moduleSettings/_global/streams/out
scala/target/streams/_global/projectDescriptors/_global/streams/out
scala/target/streams/_global/update/_global/streams/out
scala/target/streams/_global/updateClassifiers/_global/streams/out
scala/target/streams/_global/updateClassifiers/_global/streams/update_cache_3/inputs
scala/target/streams/_global/updateClassifiers/_global/streams/update_cache_3/output
scala/target/streams/compile/bloopGenerate/_global/streams/out
scala/target/streams/compile/bloopPostGenerate/_global/streams/out
scala/target/streams/compile/externalDependencyClasspath/_global/streams/export
scala/target/streams/compile/managedClasspath/_global/streams/export
scala/target/streams/compile/scalacOptions/_global/streams/out
scala/target/streams/compile/unmanagedClasspath/_global/streams/export
scala/target/streams/compile/unmanagedClasspath/_global/streams/out
scala/target/streams/compile/unmanagedJars/_global/streams/export
scala/target/streams/it/bloopGenerate/_global/streams/out
scala/target/streams/it/bloopPostGenerate/_global/streams/out
scala/target/streams/runtime/unmanagedJars/_global/streams/export
scala/target/streams/test/bloopGenerate/_global/streams/out
scala/target/streams/test/bloopPostGenerate/_global/streams/out
scala/target/streams/test/externalDependencyClasspath/_global/streams/export
scala/target/streams/test/managedClasspath/_global/streams/export
scala/target/streams/test/scalacOptions/_global/streams/out
scala/target/streams/test/unmanagedClasspath/_global/streams/export
scala/target/streams/test/unmanagedClasspath/_global/streams/out
scala/target/streams/test/unmanagedJars/_global/streams/export
.idea/euler.iml
.idea/hydra.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
